<a href="https://colab.research.google.com/github/caprison11/deep-learning-from-scratch/blob/master/4__%EC%8A%A4%EC%B9%BC%EB%9D%BC%EC%99%80_%EB%B2%A1%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 스칼라 데이터 객체의 변수 정의
a <- 365
a1 <- 36.5
a2 <- '손정명'
a3 <- 'David Son'
a4 <- '개학 좋아요? well...'
a5 <- TRUE
a6 <- NA

# 메모리 상에 생성된 스칼라변수 조회
a
class(a)

a4
class(a4)

a5
class(a5)

# 벡터 데이터 객체의 변수 정의
b <- c(33, -5, 20:23, 12, -2:3)
b1 <- c('홍길동', 'JK Tim', 'John', '장그래', 'G드래곤')
b2 <- c(T, FALSE, FALSE, T, TRUE, F, T)

b; class(b)
b1; class(b1)
b2; class(b2)

# 결측값(NA)가 포함된 벡터
h <- c()
h1 <- c(NA)
h2 <- c(33, NA, 20:23, 12, NA)
h3 <- c(NA, 'JK Tim', 'John', '장그래', NA)
h4 <- c(T, FALSE, NA, NA, TRUE, F, NA)

h; class(h)
h1; class(h1)
h2; class(h2)
h3; class(h3)
h4; class(h4)

[1] 365

[1] "numeric"

[1] "개학 좋아요? well..."

[1] "character"

[1] TRUE

[1] "logical"

 [1] 33 -5 20 21 22 23 12 -2 -1  0  1  2  3

[1] "numeric"

[1] "홍길동"  "JK Tim"  "John"    "장그래"  "G드래곤"

[1] "character"

[1]  TRUE FALSE FALSE  TRUE  TRUE FALSE  TRUE

[1] "logical"

NULL

[1] "NULL"

[1] NA

[1] "logical"

[1] 33 NA 20 21 22 23 12 NA

[1] "numeric"

[1] NA       "JK Tim" "John"   "장그래" NA

[1] "character"

[1]  TRUE FALSE    NA    NA  TRUE FALSE    NA

[1] "logical"